.message {
  width: 60%;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.error {
  background-color: rgb(255, 74, 74);
  color: rgb(255, 228, 228);
}

.success {
  background-color: rgb(155, 255, 169);
  color: rgb(58, 58, 58);
}