.header_container {
  text-align: center;
}

.header_container h1 {
  font-size: 5em;
  margin-top: 0.5em;
}

.header_container p {
  font-size: 2em;
}

.header_container main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.header_container main form {
  display: flex;
  justify-content: space-around;
  background-color: rgb(183, 210, 233);
}

.header_container main input:focus {
  outline: none;
  border-bottom: 1px solid rgb(39, 39, 77);
}

.header_container main a,
.header_container main input[type="submit"] {
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.5em;
  background-color: rgb(88, 88, 131);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: .5s;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
}

.header_container main a:hover,
.header_container main input[type="submit"]:hover {
  background-color: rgb(53, 53, 90);
}

.header_container main input {
  font-size: 1.3em;
  font-weight: bold;
  width: 400px;
  border: none;
  padding: 0.2em 0.2em;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.header_container main input:focus {
  outline: none;
  border-bottom: 1px solid rgb(39, 39, 77);
}

.header_container main input[type="submit"] {
  font-size: 1.3em;
  align-self: center;
  width: 100px;
  border-bottom: 1px solid transparent;
}

.books_container {
  justify-content: center;
  display: grid;
  width: 100%;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, 197px);
}

@media screen and (max-width: 1360px) {
  .header_container h1 {
    font-size: 4em;
    margin-top: 0.4em;
  }
  
  .header_container p {
    font-size: 1.8em;
  }
  
  .header_container main input:focus {
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 255);
  }

  .header_container main input:focus {
    outline: none;
    border-bottom: 1px solid rgb(39, 39, 77);
  }
  
  .header_container main input[type="submit"] {
    font-size: 1.3em;
    align-self: center;
    width: 100px;
    border-bottom: 1px solid transparent;
  }
  
  .books_container {
    justify-content: center;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 197px);
  }
}