* {
  padding: 0;
  margin: 0;
  font-family: Garamond;
  box-sizing: border-box;
}

h1 {
  color: rgb(64, 64, 94);
  font-size: 2.2em;
  font-weight: 900;
}

.bold {
  font-weight: bold;
  color: rgb(64, 64, 94);
}

body {
  min-height: 100vh;
}